# This is a comment [supporting comments is optional]
# If you decide not to support comments, you may delete
# them from this file for testing.
WINDOW_DEFAULT_RES_X=1280
"WINDOW_DEFAULT_RES_Y"=720
WINDOW_DEFAULT_TITLE="Test Title"#[NOTE] If supporting comments, ones like these should also work.
WINDOW_X_IMAGE=Data/Images/loghorizon.png
WINDOW_X_IMAGE=Data/Images/aincrad.png
WINDOW_X_IMAGE=Data/Images/W3WH.png
#WINDOW_X_SHADER=Data/HLSL/nop_test.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_ortho.hlsl
#WINDOW_X_SHADER=Data/HLSL/nop_textured.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_blackandwhite.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_blur.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_colorization256.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_crackler.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_desaturation.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_distort.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_inverted.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_radialBlur.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_scanLines.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_sepia.hlsl
WINDOW_X_SHADER=Data/HLSL/nop_tint.hlsl
